<h1>Legislator and Bill Lookup</h1>

<form>
  <div class="form-group">
    <h4>Search legislator by zip code!</h4>
    <label for="zip">Enter a zip code</label>
    {{input value=zip id="zip" placeholder="97212"}}
    <button class="btn btn-primary" {{action 'zipLookup'}}>Find my legislators!</button>
  </div>

</form>

  <button class="btn btn-primary" {{action 'billLookup'}}>See today's bills!</button>

  <button class="btn btn-primary" {{action 'hearingsLookup'}}>See today's hearings!</button>
