
{{#link-to 'index'}}<header class = "jumbotron">
  <h1 class="headerFont">CONGRESS API HUB</h1>
</header>{{/link-to}}

<div class="container">
  {{outlet}}
</div>

<hr>

<footer>
  {{#link-to 'index'}}<h3>Go Home!</h3>{{/link-to}}
</footer>
